In [1]:
from simpletransformers.classification import ClassificationModel, ClassificationArgs
import pandas as pd
import pyarrow.parquet as pq
import pyarrow as pa
from tqdm import tqdm
import os
from pprint import pprint

2023-03-11 12:48:55.672147: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  SSE4.1 SSE4.2 AVX AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [2]:
# Load Parquet
df_5label = pq.read_table('/home/data/xuyijie/Documents/AllsidesScraper/news-title-bias/data/TwitterData/df_tweet_content_predictions_5kind.parquet').to_pandas()
df_6label = pq.read_table('/home/data/xuyijie/Documents/AllsidesScraper/news-title-bias/data/TwitterData/df_tweet_content_predictions_6kind.parquet').to_pandas()

In [3]:
# Transfer Matrix
import numpy as np
transfer_matrix = np.zeros((5, 6))
for i in range(5):
    for j in range(6):
        mask = (df_5label['Predictions'] == i) & (df_6label['Predictions'] == j)
        transfer_matrix[i, j] = np.sum(mask)

In [4]:
pd.DataFrame(transfer_matrix).astype(int)

        0      1        2       3        4         5
0   98251   6505   204578    7985   129013    885772
1  118006  56867   571964   32875   142014   4710078
2  291998  35239  5977314   70883   805459  17615736
3   48092  10791   180995  202358   150171   2044434
4  435677  50654  2752529  388811  3726295  26293389